Repository geotribu/qtribu, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, UI

Simplify how settings are loaded into pref object
  qtribu/toolbelt/preferences.py
Labels: none

rm print statement
  qtribu/toolbelt/preferences.py
Labels: none

Bump hooks
  .pre-commit-config.yaml
Labels: none

docstring
  qtribu/toolbelt/preferences.py
Labels: none

Use iconpath
  qtribu/gui/dlg_settings.py
Labels: UI

Change to a maintained job to create release
  .github/workflows/packager.yml
Labels: ci-cd

Update translation
  qtribu/resources/i18n/qtribu_fr.ts
Labels: none

Add reset button to settings
  qtribu/gui/dlg_settings.py
  qtribu/gui/dlg_settings.ui
Labels: UI

Use release generated by qgis-plugin-ci
  .github/workflows/packager.yml
Labels: ci-cd

Bump version to 0.15.0-beta2
  CHANGELOG.md
  qtribu/metadata.txt
Labels: none

Update packaging.txt
  requirements/packaging.txt
Labels: dependencies

Add WIP db form
  qtribu/gui/db_form.py
  qtribu/gui/db_form.ui
Labels: UI

Add task SQL - WIP
  qtribu/tasks/__init__.py
  qtribu/tasks/execute_sql.py
Labels: none

Add compose postgis and dev example of old/new sql req
  tests/dev/dev_connections_old.py
  tests/dev/dev_db_connections_new.py
  tests/dev/docker-compose_postgis.yml
Labels: none

WIP first version of markdown highlighter
  qtribu/gui/markdown_highlighter.py
Labels: UI

Bump git hooks
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

ci-cd:
  - .github/**/*

dependencies:
  - requirements/*.txt
  - requirements.txt

documentation:
  - docs/**/*
  - requirements/documentation.txt

UI:
  - qtribu/**/*.ui
  - qtribu/gui/**/*
