Repository geotribu/qtribu, pull requests merged in 2024-09, with the labels that each got.

#191 Documentation: add installation from main branch
  CHANGELOG.md
  docs/installation.md
  docs/static/qgis_plugin_installation_custom_repository.webp
Labels: documentation

#192 translations: add qchat translations
  .gitignore
  qtribu/gui/dlg_settings.ui
  qtribu/gui/wdg_authoring.ui
  qtribu/logic/news_feed/rss_reader.py
  qtribu/resources/i18n/plugin_translation.pro
  qtribu/resources/i18n/qtribu_fr.ts
Labels: UI

#194 update(packaging): add French description
  qtribu/metadata.txt
Labels: packaging

#196 fix(init): remove QChat import outside try/except
  qtribu/plugin_main.py
Labels: bug

#197 fix(qchat): no notification on self message mention
  qtribu/gui/dck_qchat.py
Labels: enhancement, UI
