Repository geotribu/qtribu, pull requests merged in 2024-10, with the labels that each got.

#198 fix(qchat): use mp3 instead of ogg
  qtribu/resources/sounds/beep_1.mp3
  qtribu/resources/sounds/beep_1.ogg
  qtribu/resources/sounds/beep_2.mp3
  qtribu/resources/sounds/beep_2.ogg
  qtribu/resources/sounds/beep_3.mp3
  qtribu/resources/sounds/beep_3.ogg
  qtribu/resources/sounds/beep_4.mp3
  qtribu/resources/sounds/beep_4.ogg
  qtribu/resources/sounds/beep_5.mp3
  qtribu/resources/sounds/beep_5.ogg
  qtribu/resources/sounds/beep_6.mp3
  qtribu/resources/sounds/beep_6.ogg
  qtribu/resources/sounds/beep_7.mp3
  qtribu/resources/sounds/beep_7.ogg
  qtribu/resources/sounds/cat.mp3
  qtribu/resources/sounds/cat.ogg
  qtribu/resources/sounds/chicken.mp3
  qtribu/resources/sounds/chicken.ogg
  qtribu/resources/sounds/cow.mp3
  qtribu/resources/sounds/cow.ogg
  qtribu/resources/sounds/dog.mp3
  qtribu/resources/sounds/dog.ogg
  qtribu/resources/sounds/dontcrybaby.mp3
  qtribu/resources/sounds/dontcrybaby.ogg
  qtribu/resources/sounds/horn.mp3
  qtribu/resources/sounds/horn.ogg
  qtribu/resources/sounds/iamarobot.mp3
  qtribu/resources/sounds/iamarobot.ogg
  qtribu/resources/sounds/its10oclock.mp3
  qtribu/resources/sounds/its10oclock.ogg
  qtribu/toolbelt/commons.py
Labels: bug

#199 fix(qchat): play sound only on mention
  qtribu/gui/dck_qchat.py
Labels: UI

#203 update(ci): rm deprecated `set-output` command
  .github/workflows/packager.yml
Labels: ci-cd

#205 update(ui): move misc groupbox to bottom in settings dialog
  qtribu/gui/dlg_settings.ui
Labels: UI

#207 update(i18n): refine translation to prepare next stable release
  qtribu/gui/dck_qchat.ui
  qtribu/gui/dlg_settings.ui
  qtribu/resources/i18n/qtribu_fr.ts
Labels: UI

#209 feature(qchat): auto-reconnect to last room when QGIS starts
  qtribu/gui/dck_qchat.py
  qtribu/gui/dlg_settings.py
  qtribu/gui/dlg_settings.ui
  qtribu/plugin_main.py
  qtribu/toolbelt/preferences.py
Labels: enhancement, UI

#200 feature(qchat): handle users registration
  qtribu/gui/dck_qchat.py
  qtribu/gui/dck_qchat.ui
  qtribu/gui/dlg_settings.py
  qtribu/gui/dlg_settings.ui
  qtribu/logic/qchat_client.py
  qtribu/toolbelt/preferences.py
Labels: enhancement, UI

#210 feature(qchat): like message
  qtribu/gui/dck_qchat.py
Labels: enhancement, UI
