Repository geotribu/qtribu, pull requests merged in 2024-01, with the labels that each got.

#144 Outillage: MAJ les dépendances de dév, la config VS Code et les git hooks
  .pre-commit-config.yaml
  .vscode/settings.json
  requirements/development.txt
  requirements/testing.txt
Labels: dependencies, tooling

#145 packaging: pin minimal version of qgis-plugin-ci
  requirements/packaging.txt
Labels: dependencies

#146 docs: use modern GitHub Actions based workflow
  .github/workflows/documentation.yml
  requirements/documentation.txt
Labels: documentation, dependencies, ci-cd

#149 ci: upgrade autolabeler to v5
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
Labels: ci-cd

#150 ci: fix qgis tests
  .github/labeler.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/tester.yml
Labels: ci-cd

#147 docs: add sitemap
  docs/conf.py
  requirements/documentation.txt
Labels: documentation, dependencies

#151 test: replace semver by packaging
  requirements/testing.txt
  tests/unit/test_plg_metadata.py
Labels: dependencies, packaging

#99 QtWebKitWidgets is no longer available
  qtribu/logic/web_viewer.py
Labels: enhancement
