Repository geotribu/qtribu, pull requests merged in 2024-08, with the labels that each got.

#186 fix(web_viewer): switch from QtWebKit to QtWebEngine
  qtribu/logic/__init__.py
  qtribu/logic/web_viewer.py
  qtribu/toolbelt/commons.py
Labels: bug

#187 Feature: add application folder
  qtribu/toolbelt/application_folder.py
  qtribu/toolbelt/preferences.py
  tests/qgis/test_utils_application_folder.py
Labels: enhancement

#188 refactor(rss): move RSS reader to its own folder
  qtribu/gui/dlg_contents.py
  qtribu/logic/__init__.py
  qtribu/logic/custom_datatypes.py
  qtribu/logic/news_feed/__init__.py
  qtribu/logic/news_feed/json_feed.py
  qtribu/logic/news_feed/mdl_rss_item.py
  qtribu/logic/news_feed/rss_reader.py
  qtribu/logic/rss_reader.py
  qtribu/plugin_main.py
  qtribu/toolbelt/commons.py
  qtribu/toolbelt/file_stats.py
  qtribu/toolbelt/log_handler.py
  qtribu/toolbelt/network_manager.py
  qtribu/toolbelt/preferences.py
  tests/qgis/test_plg_rss_rdr.py
  tests/qgis/test_utils_file_stats.py
Labels: enhancement, UI

#182 feature: qchat
  README.md
  docs/installation.md
  docs/static/github_actions_workflow_packaging_listing.webp
  docs/static/github_actions_workflow_packaging_summary_annotated_artefact.webp
  docs/static/github_pr_checks_tab_annotated_packaging.webp
  qtribu/constants.py
  qtribu/gui/dck_qchat.py
  qtribu/gui/dck_qchat.ui
  qtribu/gui/dlg_settings.py
  qtribu/gui/dlg_settings.ui
  qtribu/gui/wdg_authoring.py
  qtribu/gui/wdg_authoring.ui
  qtribu/logic/qchat_client.py
  qtribu/metadata.txt
  qtribu/plugin_main.py
  qtribu/resources/sounds/beep_1.ogg
  qtribu/resources/sounds/beep_2.ogg
  qtribu/resources/sounds/beep_3.ogg
  qtribu/resources/sounds/beep_4.ogg
  qtribu/resources/sounds/beep_5.ogg
  qtribu/resources/sounds/beep_6.ogg
  qtribu/resources/sounds/beep_7.ogg
  qtribu/resources/sounds/cat.ogg
  qtribu/resources/sounds/chicken.ogg
  qtribu/resources/sounds/cow.ogg
  qtribu/resources/sounds/dog.ogg
  qtribu/resources/sounds/dontcrybaby.ogg
  qtribu/resources/sounds/horn.ogg
  qtribu/resources/sounds/iamarobot.ogg
  qtribu/resources/sounds/its10oclock.ogg
  qtribu/tasks/__init__.py
  qtribu/tasks/dizzy.py
  qtribu/toolbelt/commons.py
  qtribu/toolbelt/network_manager.py
  qtribu/toolbelt/preferences.py
Labels: documentation, enhancement, UI

#190 Feat: put settings in QScrollArea
  qtribu/gui/dlg_settings.ui
Labels: enhancement, UI
